{% load static%}
<!DOCTYPE html>
<html>
    <center>
        <a href="/"><button>Project</button></a>&nbsp;&nbsp;&nbsp;    
        <a href="home.html"><button>Home</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="phone.html"><button>Phone</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="camera.html"><button>Camera</button></a>&nbsp;&nbsp;&nbsp;
        <a href="color.html"><button>Color</button></a>
    </center>
<head><h1>Accessories</h1></head>
<body bgcolor="orange">
    
<p>About this item</p>
<p><h4>Processor</h4>: Qualcomm Snapdragon 870 5G with Kryo 585 Octa-core; 7nm process; Up to 3.2GHz clock speed; Liquidcool technology</p>
<p><h4>Camera</h4>: 48 MP Triple Rear camera with 8MP Ultra-wide and 5MP Super macro | 20 MP Front camera</p>
<p><h4>Display</h4>: 120Hz high refresh rate FHD+ (1080x2400) AMOLED Dot display; 16.9 centimeters (6.67 inch); 2.76mm ultra tiny punch hole; HDR 10+ support; 360Hz touch sampling, MEMC technology</p>
<p><h4>Battery</h4>: 4520 mAH large battery with 33W fast charger in-box and Type-C connectivity</p>
<p><h4>Hands-Free access to Alexa</h4>: Alexa on your phone lets you make phone calls, open apps, control smart home devices, access the library of Alexa skills, and more using just your voice while on-the-go. Download the Alexa app and complete hands-free setup to get started. Just ask - and Alexa will respond instantly</p>
</body>
</html>