{% load static%}
<!DOCTYPE html>
<html>
<center>
<a href="/"><button>Project</button></a>&nbsp;&nbsp;&nbsp;
<a href="home.html"><button>Home</button></a>&nbsp;&nbsp;&nbsp;
<a href="phone.html"><button>Phone</button></a>&nbsp;&nbsp;&nbsp;
<a href="access.html"><button>Accessories</button></a>&nbsp;&nbsp;&nbsp;
<a href="color.html"><button>Color</button></a>
</center>
<h1>Triple ProCamera</h1>
<body bgcolor="#bf00ff">
    
<img src="{% static 'images/cam.jpg' %}">
<p><h5>8MP</h5>Ultra-wide camera</p>
<p><h5>5MP</h5>Telemacro camera</p>
<h2>Rear Camera(s)‎</h2>
<p>Resolution 48 Mp More models with a 48 Mp camera</p>
<p>Sensor model Sony IMX582 More models</p>
<h2>Selfie Camera(s)‎</h2>
<p>Resolution 30 Mp</p>
<p>Flash No</p>
<p>Sensor model Samsung S5K3T2</p>
</body>
</html>