{% load static%}
<!DOCTYPE html>
<html>
<center>
    <a href="/"><button>Project</button></a>&nbsp;&nbsp;&nbsp;
    <a href="phone.html"><button>Phone</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="access.html"><button>Accessories</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="camera.html"><button>Camera</button></a>&nbsp;&nbsp;&nbsp;
    <a href="color.html"><button>Color</button></a>
</center>
<h1>Mi 11 X</h1>
<body text="white" bgcolor="lively">
<p>The premium new design and camera housing, 3 beautiful color options and which are thin and light. Equipped with ﬂagship E4 120Hz AMOLED Display, Stereo speakers with Dolby Atmos, ofﬁcial IP53 rating & the battery performance like no other.</p>


<p>The Mi 11X is equipped with the ﬂagship-grade 16.94cm (6.67) E4 AMOLED display, has a 120Hz refresh rate panel and 360Hz touch sampling. It features HDR 10+ and 1300nits peak brightness. The E4 grade AMOLED display consumes lesser power up to 15% while delivering a rich viewing experience.
Comes with Certified - DisplayMate A+ Display</p>
<p>The performance goes a notch higher with Qualcomm Snapdragon 870 UFS 3.1 as the memory standard and LPDDR5 RAM</p>
<p>The Mi 11X comes with a triple lens system:: 48MP Primary + 8MP Ultra wide + 5MP TeleMacro Lens</p>
<p>The Device stands at 7.8mm Slim, and 196g Light</p>
<p>The Phone also features Corning’s Gorilla Glass 5 on the front and the back to take care of those unintended bumps and offer better scratch resistance.</p>
<p>The Dolby Atmos helps in delivering richer audio experience for movies, music and voice.</p>
<p>The Mi 11X is powered by 4520mAh High-Capacity Battery, and 33W Instant Charge</p>
<p>The device also supports IP 53 Rating for all your adventures</p>
</body>
</html>