{% load static%}
<!DOCTYPE html>
<html>
    <center>
        <a href="/"><button>Project</button></a>&nbsp;&nbsp;&nbsp;
        <a href="home.html"><button>Home</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="access.html"><button>Accessories</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="camera.html"><button>Camera</button></a>&nbsp;&nbsp;&nbsp;
        <a href="color.html"><button>Color</button></a>
    </center>
<head><h1>Phone</h1></head>
<body bgcolor="red and lively">
   
 <ul> 
<li>Model Name	Mi 11X</li>
<li>Wireless Carrier	Unlocked for All Carriers</li>
<li>Brand	MI</li>
<li>Form factor	Bar</li>
<li>Memory Storage Capacity	128 GB</li></ul>  
</body>
</html>